*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utility */
.bg_black{
    background-color: black;
}
.bg_black-2{
    background-color: #1D1D1D;
}
.bg_grey{
    background-color: #B6B3B2;
}
.b_radius{
    border-radius: 20px ;
}
.btn_red{
    background-color:#CD2E13 ;
    border: 1px solid #CD2E13 ;
}
.btn_grey{
    background-color:#D4D5D7 ;
}
.f-25em{
    font-size: 2.5em;
}
.w_30{
    width: 30%;
}
.mt_50{
margin-top: 50px;
}
.pt_b40{
    padding-bottom: 40px;
}
/* fine utility */
/* header */
header div img{
    width: 10%;
}
/* main */
/* sezione hero */
#hero{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero div{
    padding-top: 200px;
    padding-bottom: 40px;
}
/* sezione takes two*/
#takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#takes-two div{
    padding-top: 200px;
    padding-bottom: 40px;
}
/* sezione psplus */
/* .banner-psplus{
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
} */
